html, body {
    background-color: red;
}

.name {
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.details {
    text-align: center;
}

img {
    height: 25%;
    width: 25%;
    background-color: white;
}

.pokedex {
    background-color: red;
}